
#Space.single-day-view {

  &.show-list {

    #MainSpace {

      #big-day {
        left: 0%;
        -webkit-transform: translateX(0%);
      }

      #show-tasks-button{

        .icon img{
          margin-top: 10px;
          width: 50%;
        }

      }

      #TaskSpace {
        opacity: 1;
        -webkit-transform: scale(1) translateY(0%);
      }

      #wrapper {
        width: calc(100% - #{$task-space-width});
        margin: initial;
      }

    }

    &.show-list-expanded {
    }

  }
}