.task-li:last-of-type{
  .task-item{
    border-bottom: none;
  }
}

form.task-item {
  display: block;

  .task-input {
    padding-left: 15px;
    width: 100%;
  }
}

input#header {
  border-bottom: 1px solid rgb(191, 191, 191);
}

.task-item {
  border-bottom: 1px solid rgba(229, 229, 229, 0.85);
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
  position: relative;
  display: flex;

  &.sleep {
    display: none;
  }

  .handle {
    width: 15px;
    top:0;
    bottom: 0;
    left:0;
  }

  .task-label {
    font: 12px 'source_sans_prosemibold', sans-serif !important;
    outline: none;
    color: grey;
    background-color: transparent;
    padding: 15px;
    padding-left: 0px;
    overflow-wrap: break-word;
    border: none;
    flex-grow: 1;
  }

}