<div id="task-space-wrapper">
    <div id="task-detail-wrapper">
        <div id="task-detail" ng-class="{'selected': selectedTaskIndex}">

            <div class="task-detail-header">
                <div class="emoji">
                    <img ng-click="currentDetailView = 'emoji'" ng-src="assets/emojis/72x72/{{ selectedTask.emoji }}">
                    <button class="close-emoji-view" ng-show="currentDetailView == 'emoji'" ng-click="currentDetailView = 'basic-details'"><span class="">Save Emoji</span></button>
                </div>
                <input type="text" class="task-name" ng-model="selectedTask.name" placeholder="Blank Item" />
                <div class="due-date"><span class="date-label">Aprl 1</span><button class="check-button"></button></div>
            </div>
            <div class="emoji-view detail-view" ng-show="currentDetailView == 'emoji'">
                <emoji-picker selected-emoji-model="selectedTask.emoji"></emoji-picker>
            </div>
            <div class="task-basic-details detail-view" ng-show="currentDetailView == 'basic-details'">
                <div class="col-1">
                    <div class="task-detail-item description">
                        <div class="description-input" contenteditable></div>
                    </div>
                    <div class="task-detail-item time-allotment">
                        <div class="btn-group btn-group-justified pie-btn-group-justified time-allotment-btn-group">
                            <label class="btn" ng-model="selectedTask.tempData.allotment" uib-btn-radio="5"><span>5<div class="unit">min</div></span></label>
                            <label class="btn" ng-model="selectedTask.tempData.allotment" uib-btn-radio="15"><span>15<div class="unit">min</div></span></label>
                            <label class="btn" ng-model="selectedTask.tempData.allotment" uib-btn-radio="30"><span>30<div class="unit">min</div></span></label>
                            <label class="btn" ng-model="selectedTask.tempData.allotment" uib-btn-radio="45"><span>45<div class="unit">min</div></span></label>
                            <label id="plus" class="btn"
                                   ng-class="{
                       active: selectedTask.angleSize > toLinearSize(45),
                       revealMinutes: selectedTask.angleSize > toLinearSize(45)}"
                                   ng-click="selectedTask.angleSize = toLinearSize(60)">
                                <span><span class="minutes">{{ Utilities.humanizeMinutes(Utilities.toMinutes(selectedTask.angleSize)) }}</span><div class="unit">+</div></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="task-list-wrapper">
        <div class="shadow"></div>
        <form name="newTaskForm" class="task-item" ng-submit="createNewTask()">
            <input id="header" class="task-input task-label" ng-model="newTaskName" autocomplete="off" name="newTaskNameInput" type="text" placeholder="Add an item:" autofocus=""/>
        </form>
        <ul id="taskList" ui-sortable="sortableOptions" ng-model="taskData.tasks">
            <li class="task-li" ng-repeat="task in taskData.tasks" data-index="{{$index}}" data-task-id="{{ task.id }}" ng-click="selectTask(task.id)">
                <div class="task-item {{ task.type }}" ng-class="{'selected': $index == selectedTaskIndex}">
                    <div class="handle"></div>
                    <input type="text" class="task-label" ng-model="task.name" placeholder="Blank Item">
                </div>
            </li>
        </ul>
    </div>
</div>