<section class="Sleep TourStep">


    <div class="container">
        <div class="content">
            <div class="paragraph-content description">
                <h1 class="big-header">Make Time for Sleep</h1>
                <p class="content">
                    You are a part of your schedule. All the things we have to<br>
                    do. Home, Work, and School are common categories, but<br>
                    there are often more, like Personal Projects, or Chores.<br>
                    Choose a few or add your own to grasp a big picture.
                </p>
                <div class="sleep_input age"><label>Age:</label><input ng-model="ageInput" ng-change="determineRecommendedSleepHoursForAge()" type="number" /></div>
                <div class="sleep_input bedtime">
                    <label>When's Bedtime?</label>
                    <input ng-model="bedTimeInput" placeholder="10:30pm" ng-change="determineBedtime()" type="text" />
                    <span class="carets"><button class="fa fa-caret-up" ng-click="adjustBedTime('+')"></button><button class="fa fa-caret-down" ng-click="adjustBedTime('-')"></button></span>
                </div>
                <!--<div class="memo">-->
                    <!--You've set aside <span>5 hours for sleep.</span><br>-->
                    <!--The national sleep association recommends <span>{{recommendedSleepHours[0]}}-{{recommendedSleepHours[1]}}</span> hours-->
                    <!--for your age.-->
                <!--</div>-->
            </div>
            <div class="memo right">
                You've set aside <span>{{sleepSliderValue}} hours for sleep.</span>
                <span ng-show="recommendedSleepHours">The National Sleep Foundation recommends <span>{{recommendedSleepHours[0]}}-{{recommendedSleepHours[1]}}</span> hours
                for your age.</span>
            </div>
        </div>

        <slider id="sleep_slider" max="recommendedSleepHours[1]" slider-value="sleepSliderValue"></slider>

    </div>

</section>