.Sleep {

  .container {

  }

  .content {
    margin-bottom: 80px;
    overflow: auto;

    .description {

      float: left;

      .content {
        margin-bottom: 30px;
      }

      .sleep_input {
        margin-bottom: 8px;

        label, input {
          font-size: 12px;
          font-family: "apercu_mono", monospace;
        }

        label {
          margin-right: 8px;
        }

        input {
          text-align: center;
          border: none;
          border-bottom: 1px solid black;
          width: 40px;
          background-color: transparent;
          -webkit-appearance: none;

          &:focus {
            -webkit-appearance: none;
            outline: none;
            border-bottom: 1px solid black;
          }
        }

        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        &.bedtime {

          input {
            width: 55px;
          }

          .carets {
            margin-left: 8px;
            button {
              padding: 0;
              vertical-align: bottom;
            }
            .fa-caret-up {
              margin-right: 1px;
            }
          }

        }

      }

    }

    .memo {
      padding: 16px;
      max-width: 300px;
      background-color: rgba(204, 200, 196, .3);
      font-size: 13px;
      line-height: 16px;
      float: left;
      font-family: "apercu_medium";

      span {
        font-family: "apercu_bold";
      }

      &.right {
        float: right;
      }
    }

  }

  #sleep_slider {

    .slider-bar {

      .value-bar, .bar {
        height: 6px;
        border-radius: 15px;
        border: none;
      }

      .bar {
        background-color: rgba(204, 200, 196, .3);
      }

      .value-bar {
        background: -webkit-gradient(linear, 0% 3044.45%, 100% 3044.45%, color-stop(0, rgba(245, 182, 119, 1)), color-stop(0.4415, rgba(180, 149, 120, 1)), color-stop(1, rgba(92, 104, 121, 1)));

        .handle {
          border: none;
          height: 12px;
          width: 12px;
          background-color: #5c6879;
          top: -3px;
          border-radius: 100%;
          -webkit-transition: all .1s;
        }

      }

    }

  }

}