node_modules/
bower_components/
coverage/
.sass-cache/
.idea/
.tmp/
dist/
Iconr
e2e/Iconr
gulp/Iconr
src/Iconr
src/app/Iconr
src/app/assets/Iconr
src/app/assets/emojis/Iconr
src/app/assets/emojis/72x72/contents.txt
src/app/assets/emojis/72x72/filename.txt
src/app/assets/emojis/72x72/Iconr
src/app/assets/source-sans/Iconr
src/app/components/Iconr
src/app/components/emoji-picker/Iconr
src/app/components/slider/Iconr
src/app/main/Iconr
