.EmojiPicker {
  border: 1px solid white;
  padding: 10px;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 1.3px;
  overflow: auto;
  width: auto;
  height: 200px;
}

.EmojiPicker::-webkit-scrollbar { width: 0 !important }
.emoji-list::-webkit-scrollbar { display: none; }

.emoji-list {
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-flow: row wrap;

  .emoji-item {
    width: 28px;
    //height: 20px;
    margin: auto;
    cursor: pointer;
    //border: 1px solid red;

    img {
      width: 100%;
      height: auto;
      pointer-events: none;
    }
  }

}