.TourStep{
  width: 100%;
  height: 100vh;
  background-color: #f6f1ea;

  .container{
    width: 70%;
    max-width: 850px;
    margin: auto;
    top: 25%;
    position: relative;
    overflow: visible !important;
    -webkit-transition: all .2s;

    .centered-row-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

  }


}

.paragraph-content{
  max-width: 300px;

  .header, .big-header {
    margin: 0px;
  }

  .big-header {
    font-family: apercu_bold;
    font-size: 22px;
  }

  .header {
    font-family: apercu_medium;
    font-size: 15px;
    font-weight: normal;
  }

  .content {
    font-family: apercu;
    font-size: 11px;
    line-height: 17px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.tour-next-button {
  background-color: #f1656f;
  font-size: 12px;
  font-family: "apercu_bold";
  color: white;
  padding: 10px 25px;
  -webkit-transition: background-color .2s;

  .fa-caret-right {
    color: white;
    vertical-align: middle;
    margin-left: 7px;
  }

  &:active, &:hover {
    background-color: #d15860;
  }

}

.PiModal {

  & * {
    border: 1px solid red;
  }

  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 544px;
  height: 544px;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  background-color: #f6f1ea;

  header{
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: apercu_medium;
    color: #4d4e4e;
    border-bottom: 1px solid #4d4e4e;
    height: 50px;

    .title {
      flex-grow: 1;
      text-align: center;
    }

    .close {
      width: 50px;
      height: inherit;
      background-image: url("../assets/modal-close.png");
      background-size: 20px 20px;
    }

  }

  .body {
    height: calc(100% - 50px);
  }



}

// Tour

.tour-tip, .tour-tip:after {
  background-color: white;
  border-radius: 3px;
}

.tour-tip {
  position: absolute;
  width: 350px;
  border: 1px solid $pie-light-grey;
  padding: 20px;
  font-size: 15px;
  line-height: 22px;
  font-family: apercu_medium, monospace;
  color: $pie-dark-grey;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  z-index: 2;

  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
  }

  .action-bar {
  }

  .ok {
    background-color: #F1656F;
    padding: 5px;
    font-family: apercu_mono, monospace;
    color: white;
    font-size: 13px;
    border: 1px solid #c6535c;
    margin-top: 13px;
    width: 100%;
    -webkit-transition: all .3s;

    &:active {
      background-color: #c6535c;
    }

    &[disabled] {
      border: none;
      background-color: $pie-dark-grey;
      opacity: .3;
    }

  }

  &.welcome {
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
  }

  &.pre-sleep {
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, -90%);
  }

  &.sleep-ring {
    left: -20%;
    -webkit-transform: translate(-50%, 36%);

    &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      bottom: -5px;
      left: 94%;
      -webkit-transform: translateX(-50%) rotate(119deg);
    }
  }


  &.sleep {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-103%);

    &:after {
      left: 11%;
    }

  }

  &.click-in {
    left: -20%;
    -webkit-transform: translate(-50%, 36%);

    &:after {
      bottom: 50%;
      right: -10px;
      left: auto;
      -webkit-transform: rotate(45deg);
    }

  }

  &.add-tasks, &.move-tasks {
    top: 0;
    left: 12%;
    -webkit-transform: translate(0%, -80%);
  }

  &.edit-task {
    left: 0;
    right: auto;
    -webkit-transform: translate(-50%, -120%);

    &:after {
      left: auto;
      right: 0;
    }

  }

  &.sleep-buttons {
    top: 0;
    right: 0;
    -webkit-transform: translate(-5%, 20%);

    &:after {
      top: 10px;
      right: 10px;
      left: auto;
      -webkit-transform: translate(0%, -100%) rotate(45deg);
    }

  }

}
