$sleep-blue: #5B6778;
$footer-size: 45px;

*{
  box-sizing: border-box;
  //border: 1px solid red;
}


html, body {
  margin: 0;
  font-family: sans-serif;
}

#test_resize{
  width: 30vw;
  height: 30vw;
  border: 1px solid red;
}

#Space{
  background : -webkit-linear-gradient(-50deg, rgba(248, 185, 120, 1) 0%, rgba(250, 204, 156, 1) 24.54%, rgba(254, 240, 227, 1) 76.02%, rgba(255, 255, 255, 1) 100%);
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

#TaskSpace, #CircleSpace{
  float: left;
  height: 100%;
  position: relative;
}

.TaskDonut{
  overflow: visible;

  &:before{
    content: "";
    display: block;
    border: 0px solid transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    width: 45%;
    height: 45%;
  }
}

#TaskSpace{
  width: 40%;

  #header{
    text-align: left;
    padding: 20px 0px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background: transparent;
    outline: none;
    color: grey;
    display: block;
    width: calc(100% - 40px);
    height: 90px;
    margin-left: 8px;
  }

  #taskList::-webkit-scrollbar { width: 0 !important }

  #taskList{
    list-style: none;
    padding: 0;
    margin: auto;
    height: calc(100% - 140px);
    overflow-y: auto;

    li {
      overflow: auto;
    }

  }

}

#Space.just-circle {

  #TaskSpace {
    width: 0;
  }

  #CircleSpace {
    width: 100%;
  }
}

#CircleSpace{
  width: 60%;

  .TaskDonut{
    height: calc(100% - 1px);
    width: calc(100% - 1px);
  }

  #big-day {
    margin: auto;
    position: relative;
    -webkit-transition: all .4s;
  }

  #toggleListButton{
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 15%;
    cursor: pointer;
    background-image: url('../../assets/list.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }

  &.single-day-view{

    #big-day{
      -webkit-transform: translateY(6vw);
      height: 38vw;
      width: 38vw;
    }


  }

}

/**for ui sortable**/
.task-item {
  padding: 20px 30px;
  font-size: 14px;
  color: grey;
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 8px;
  cursor: pointer;

  &.standardSleep {
    display: none;
  }
}


footer{
  height: $footer-size;
  width: 100vw;
  background-color: $sleep-blue;
}


g.dragOver {

  path {
    stroke: red;
  }

  text {
    stroke: black;
  }
}