.slider-bar {
  width: 100%;
  position: relative;
  cursor: pointer;

  .value-bar, .bar {
    height: 45px;
    position: relative;
  }

  .bar {
    border: 1px solid black;
  }

  .value-bar{
    position: relative;
    width: 0px;
    min-width: 12px;
    border: 1px solid black;
    -webkit-transition: .2s;

    .handle{
      content: "";
      position: absolute;
      width: 12px;
      height: 100%;
      right: 0;
      border: 1px solid black;
      -webkit-transition: all, .3s;
      z-index: 101;

    }

  }

}