.single-selection-mode-enabled {
  stroke: #6fccdd;
  stroke-width: 1 !important;
  -webkit-transition: stroke .5s;
}

.swap-mode-enabled {
  stroke: #6fccdd;
  stroke-width: .5 !important;
}

body.in-single-selection-mode .task-block{

  &.in-single-selection-mode{
    opacity: .2;
  }

  &:not(.in-single-selection-mode){
    opacity: .3;
  }

  &.task-block-clone{
    opacity: 1;
  }

}