#Space.single-day-view {

  $partially-expanded-width: #{$_task-space-wrapper-size/1.85};

  &.show-list {

    #CircleSpace {
      width: calc(100% - #{$partially-expanded-width});

      header{
        width: 90%;
        left: 10%;
      }

      #show-tasks-button{
        height: auto;
        opacity: .4;

        .icon{
          height: 30px;
          width: 30px;
        }

      }

      #big-day {
        height: 540px;
        width: 540px;
        margin: auto;
      }

    }

    #TaskSpace {
      width: $partially-expanded-width;
      overflow: visible;

      #task-space-wrapper {
        position: relative;
        border-left: 1px dotted rgba(255, 255, 255, 0.95);
        padding-left: 5px;

      }
    }

    #wrapper {
      width: 90%;
      left: 10%;
      margin: 0;
    }

    &.show-list-expanded {

      #CircleSpace {
        width: calc(100% - (#{$_task-space-wrapper-size} + 4vw));
      }

      #TaskSpace {
        width: calc(#{$task-space-wrapper-size} + 4vw);
      }

    }
  }
}