$sleep-blue: #5B6778;
$footer-size: 45px;
$transition: all .2s linear;
$top: 10vh;

$task-space-width: 550px;

*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'source_sans_prosemibold', sans-serif !important;
}

body {
}

#MainSpace, header{
  width: 80%;
  max-width: 1200px;
  margin: auto;
}


header {
  margin: auto;
  margin-top: 70px;
  overflow: auto;
  -webkit-transition: $transition;

  .header-button{

    display: block;
    overflow: auto;
    height: 40px;
    padding: 0;
    -webkit-transition: $transition;

    .label{
      background-color: #7e3c46;
      border-right: 1px solid white;
      color: white;
      float: left;
      height: inherit;
      padding: 0px 27px;
      line-height: 40px;
      font-family: apercu_medium, sans-serif;
      font-size: 12px;
    }

    .icon{
      float: left;
      background-color: #7e3c46;
      height: inherit;
      width: 50px;
      padding: 10px;
      cursor: pointer;
      -webkit-transition: $transition;

      img{
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }

  #day-picker-button{
    float: left;
  }

  #show-tasks-button{
    float: right;
  }

  .pie-calendar {
    z-index: 12;
    width: 308px;
    position: absolute;
    top: 55px;
    background-color: rgba(255, 255, 255, .5);

    .md-calendar-scroll-mask, .md-calendar-scroll-container{
      height: 264px;
      width: 346px;
    }

    .md-calendar-scroll-container {
      display: inline-block;
      box-shadow: none;
    }

    .md-calendar-day-header{
      background-color: rgba(255, 255, 255, .5);
      color: $pie-dark-grey;
      font-family: "apercu_bold", sans-serif;
      font-size: 12px;

      th {
        height: 36px;
      }

      th.currentMonthYear {
        height: auto;
        padding-top: 20px;
        padding-left: 23px;
        padding-right: 23px;
        padding-bottom: 0px;
      }

    }

    .md-calendar-date{
      font-family: "apercu_mono", monospace;
      color: $pie-dark-grey;
    }

    .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator {
      background-color: $pie-orange-cream;
    }

    .md-calendar-date-today .md-calendar-date-selection-indicator{
      border: none;
      border-width: 2px;
      background-color: white;
    }

    .md-calendar-date-selection-indicator{
      border-radius: 0;

      &:hover{
        background-color: $pie-orange-cream;
      }
    }

    .md-calendar-month-label {
      height: 32px;
    }

  }

}

#Space{
  background : -webkit-linear-gradient(-50deg, rgba(248, 185, 120, 1) 0%, rgba(250, 204, 156, 1) 24.54%, rgba(254, 240, 227, 1) 76.02%, rgba(255, 255, 255, 1) 100%);
  background: #faf7f1;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: auto;
}

#MainSpace {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: width .3s $easeInQuad;
  top: $top;

  .TaskDonut{
    height: calc(100% - 1px);
    width: calc(100% - 1px);
  }

  #big-day {
    position: relative;
    -webkit-transition: all .4s;
  }


}


.TaskDonut{
  overflow: visible;

  &:before{
    content: "";
    display: block;
    border: 0px solid transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    width: 45%;
    height: 45%;
  }
}

#TaskSpace {

  position: absolute;
  right: 0;
  top:0;

  opacity: 0;

  -webkit-transition: $transition;
  -webkit-transform: translateX(100%);

  #task-space-wrapper {
    width: $task-space-width;

    #task-detail-wrapper {
      padding: 0 10px;
      padding-right: 0px;
    }

    #task-list-wrapper{
      width: 45%;
    }

    #task-detail-wrapper{
      width: 55%;
    }

    #task-list-wrapper, #task-detail-wrapper{
      float: left;
      overflow: auto;
    }

  }

  form {
    overflow: auto;
  }

  #taskList::-webkit-scrollbar { width: 0 !important }

  #taskList{
    list-style: none;
    padding: 0;
    margin: auto;
    height: calc(100% - 140px);
    overflow-y: auto;

    li {
      overflow: auto;
    }

  }

}

/**for ui sortable**/
footer{
  height: $footer-size;
  width: 100vw;
  background-color: $sleep-blue;
}


g.dragOver {

  path {
    stroke: red;
  }

  text {
    stroke: black;
  }
}