$sleep-blue: #5B6778;
$footer-size: 45px;
$transition: all .2s linear;
$top: 8vh;

$task-space-width: 550px;
$task-detail-height: 250px;
$task-list-inset: 30px;


#Space{
  background-color: #faf7f1;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: auto;
}

#demo-header {
  text-align: center;
  padding: 8px 0px;
  color: #818285;
  background: #ece9e4;
  font-size: 10px;
  font-family: "apercu_mono";
}

#Space header {

  width: 80%;
  max-width: 1200px;
  margin: auto;
  margin-top: 70px;
  overflow: auto;
  -webkit-transition: $transition;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .header-button {

    display: block;
    overflow: auto;
    height: 40px;
    padding: 0;
    -webkit-transition: $transition;

    .label {
      background-color: #7e3c46;
      border-right: 1px solid white;
      color: white;
      float: left;
      height: inherit;
      padding: 0px 27px;
      line-height: 40px;
      font-family: apercu_medium, sans-serif;
      font-size: 12px;
    }

    .icon {
      float: left;
      background-color: #7e3c46;
      height: inherit;
      width: 50px;
      padding: 10px;
      cursor: pointer;
      -webkit-transition: $transition;

      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }

  .mini-donut {
    width: 80px;
    height: 80px;
  }


  #day-picker-button {
    float: left;
  }

  #show-tasks-button {
    float: right;
  }

  .pie-calendar {
    z-index: 12;
    width: 308px;
    position: absolute;
    top: 55px;
    background-color: rgba(255, 255, 255, .5);

    .md-calendar-scroll-mask, .md-calendar-scroll-container {
      height: 264px;
      width: 346px;
    }

    .md-calendar-scroll-container {
      display: inline-block;
      box-shadow: none;
    }

    .md-calendar-day-header {
      background-color: rgba(255, 255, 255, .5);
      color: $pie-dark-grey;
      font-family: "apercu_bold", sans-serif;
      font-size: 12px;

      th {
        height: 36px;
      }

      th.currentMonthYear {
        height: auto;
        padding-top: 20px;
        padding-left: 23px;
        padding-right: 23px;
        padding-bottom: 0px;
      }

    }

    .md-calendar-date {
      font-family: "apercu_mono", monospace;
      color: $pie-dark-grey;
    }

    .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator {
      background-color: $pie-orange-cream;
    }

    .md-calendar-date-today .md-calendar-date-selection-indicator {
      border: none;
      border-width: 2px;
      background-color: white;
    }

    .md-calendar-date-selection-indicator {
      border-radius: 0;

      &:hover {
        background-color: $pie-orange-cream;
      }
    }

    .md-calendar-month-label {
      height: 32px;
    }

  }

}

#MainSpace {
  margin-top: $top;
}

/**for ui sortable**/
footer{
  height: $footer-size;
  width: 100vw;
  background-color: $sleep-blue;
}


g.dragOver {

  path {
    stroke: red;
  }

  text {
    stroke: black;
  }

}

