#task-detail {
  width: 100%;
  border-radius: 2px;
  position: relative;
  border: 1px solid $pie-light-grey;

  &.selected {
    //background: rgba(255, 255, 255, .5);
    //padding: 4px;
  }

  .time-allotment-btn-group {
    margin-bottom: 9px;

    .btn {
      line-height: 11px;
    }

    .btn span{
      font-size: 9px;
      font-family: source_sans_proregular, sans-serif;
    }
  }

  .task-slider {
    height: 12px;
  }

  .slider-bar{
    height: 12px;
    
    .bar, .value-bar{
      height: 2px;
    }
    
    .value-bar {
      background-color: $pie-grey;

      .handle {
        width: 8px;
        height: 8px;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        background-color: $pie-grey;
        z-index: initial;
        cursor: pointer;

        &:hover{
          background-color: $pie-grey;
        }

      }
    }

  }


  .emoji-picker-container{
    padding: 6px;
    border: 1px solid $pie-light-grey;
    position: relative;
    overflow: hidden;
    height: 165px;

    .EmojiPicker{
      padding: 0;
      //-webkit-mask-image: -webkit-linear-gradient(-270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14.49%, rgba(0, 0, 0, 1) 100%);
    }
  }

  #task-name {
    background-color: white;
    font-family: source_sans_probold, sans-serif;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 15px;
    color: $pie-dark-grey;
    overflow-wrap: break-word;
    border-bottom: 1px solid $pie-light-grey;
  }

  #task-details {
    min-height: 250px;
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;

    .task-detail-item {

      margin-bottom: 20px;

      .header {
        color: $pie-dark-grey;
        font-size: 11px;
        font-family: source_sans_prosemibold, sans-serif;
        margin-bottom: 9px;
      }

      .item {

      }

    }

  }

}