<div id="Space" class="single-day-view" ng-class="{'show-list': showListView}">

  <header>
    <button id="day-picker-button" ng-click="showCalendar = !showCalendar" class="header-button">
      <div class="label">
        {{ showListView && selectedTaskDetail.name ? 'MON 12/16' : 'Monday, December 16' }}
      </div>
      <div class="icon">
        <img src="app/assets/group.svg">
      </div>
    </button>

    <div class="pie-calendar" ng-show="showCalendar">
      <md-calendar ng-model="myDate"></md-calendar>
    </div>
    <button id="show-tasks-button" class="header-button" ng-click="toggleListView()">
      <div class="label" ng-hide="showListView">
        {{ numberOfUserTasks || "No"  }} Item{{ (numberOfUserTasks > 1 || 0) ? "s" : ""  }} Today
      </div>
      <div class="icon">
        <img ng-src="{{ showListView ? 'app/assets/x.svg' : 'app/assets/list.svg'}}">
      </div>
    </button>
  </header>

      <pre style="
    position:absolute;
    opacity: 0;
    top: 400px;
    height: 300px;
    overflow: auto;
    left: 0">
      {{ taskDataString }}
    </pre>

  <div id="MainSpace">

    <!--<button class="btn" style="position: absolute; z-index: 1000;" ng-click="redraw()">-->
      <!--redraw-->
    <!--</button>-->

    <div id="big-day">
      <svg id="task-donut" viewBox="0 0 200 200" class="TaskDonut"></svg>
    </div>

    <div id="strip">
      <svg id="task-strip" viewBox="0 0 100 20" class="TaskStrip"></svg>
    </div>

    <div id="TaskSpace">
      <task-detail-panel></task-detail-panel>
    </div>

  </div>

</div>
