<section class="You TourStep">
    <div class="container" ng-class="{'centerMode':(photoOption || settings.profile_picture)}">
        <div class="paragraph-content">
            <h1 class="big-header">Choose a Photo</h1>
            <p class="content">
                You are a part of your schedule. All the things we have to<br>
                do. Home, Work, and School are common categories, but<br>
                there are often more, like Personal Projects, or Chores.<br>
            </p>
        </div>
        <div class="photo-wrapper">
            <div class="donut-wrapper">
                <svg id="donut" viewBox="0 0 200 200" class="demoTaskDonut TaskDonut"></svg>
                <div id="camera-wrapper" ng-hide="settings.profile_picture">
                    <div id="camera" attach-webcam class="circle-content" ng-hide="photoOption == 'instagram'" ng-class="{'idle':(photoOption == null), 'ready':(photoOption == 'webcam'), }"></div>
                    <div id="instagram-picker" class="circle-content" ng-show="photoOption == 'instagram'">
                        <img src="{{ currentInstagramImage }}">
                    </div>
                    <div class="prompt" ng-hide="photoOption">
                        <div class="option" ng-click="selectInstagram()">
                            <div class="small">PICK FROM</div>
                            <div class="big">Instagram</div>
                        </div>
                        <div class="divider"><span>or</span></div>
                        <div class="option" ng-click="selectWebcam()">
                            <div class="small">TAKE WITH</div>
                            <div class="big">Webcam</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="photo-controls">
                <button ng-show="(photoOption == 'instagram')" ng-disabled="!shouldShowPrev()" class="instagram-arrow-button left" ng-click="prevInstagramImage()"><img src="assets/chevron.png">Prev</button>
                <button class="photo-select-button" ng-show="photoOption" ng-click="setPhoto()">
                    <div class="small">{{(photoOption == 'instagram') ? "INSTAGRAM" : "LIVE" }}</div>
                    <div class="big">{{(photoOption == 'instagram') ? "Set" : "Take" }} Photo</div>
                </button>
                <button ng-show="(photoOption == 'instagram')" ng-disabled="!shouldShowNext()" class="instagram-arrow-button right" ng-click="nextInstagramImage()">Next<img src="assets/chevron.png"></button>
                <button ng-show="settings.profile_picture" class="tour-next-button" ui-sref="tour_step_two">Next, make time for sleep<span class="fa fa-caret-right"></span></button>
            </div>
        </div>
    </div>
</section>
