<div id="big-day">

    <div class="tour-tip welcome" ng-show="$root.tourStep == 0">
        Welcome to the Pi demo, an entirely new way to plan your day. Pi emphasizes holistic wellness alongside planning
        to encourage sustainable, everyday productivity.
        <div class="action-bar">
            <button class="ok" ng-click="$root.advanceTour()" >Click to Continue</button>
        </div>
    </div>

    <div class="tour-tip pre-sleep" ng-show="$root.tourStep == 1">
        With a focus on sleep, Pi makes you more aware of your productivity.
        <div class="action-bar">
            <button class="ok" ng-click="$root.advanceTour()">Click to Set Aside Sleep Time</button>
        </div>
    </div>

    <div class="tour-tip sleep-ring" ng-show="$root.tourStep == 3">
        To make sure the importance of sleep never falls to the wayside, keep an eye
        on this green arc. Green means you've got a full night of sleep ahead. Orange or red
        means you may need to re-prioritize.
        <Br>
        In education environments, Pi's holistic productivity platform makes it
        possible for teachers to assign work with better understanding of
        how potential overload affects students' health and output.
        <div class="action-bar">
            <button class="ok" ng-click="$root.advanceTour()">Click to Continue</button>
        </div>
    </div>

    <div class="tour-tip click-in" ng-show="$root.tourStep == 4">
        So far you've got a full night of sleep ahead with nothing planned.
        To get a closer look at the day and add things to the list, click
        into your picture to the right.
        <div class="action-bar">
            <button class="ok" ng-disabled="true">Click Your Picture <span class="fa fa-caret-right"></span></button>
        </div>
    </div>

    <task-donut id="main-donut" show-camera="showCamera" task-donut-model="taskDonut" task-donut-manager="taskManager"></task-donut>

</div>

<div class="sleep-config" ng-show="$root.tourStep == 2" ng-controller="TourStepTwoController">

    <div class="tour-tip sleep">
        Enter your age and the time you try to get to bed each night. We'll calculate the recommended
        number of hours you should set aside in your schedule.
        <div class="action-bar">
            <button class="ok" ng-disabled="true">Configure Below</button>
        </div>
    </div>

    <slider class="sleep_slider" max="recommendedSleepHours[1]" slider-value="sleepSliderValue"></slider>
    <div class="content">
        <div class="paragraph-content description">
            <h1 class="big-header">Make Time for Sleep</h1>
            <p class="content">
                Sleep is probably the single most important way
                to sustain productivity. The National Sleep Foundation recommends
                <span ng-show="recommendedSleepHours" class="recommendation">{{recommendedSleepHours[0]}}-{{recommendedSleepHours[1]}} hours for your age.</span>
                <span ng-hide="recommendedSleepHours"> healthy sleep durations for each age group.</span>
                <span ng-show="sleepSliderValue">
                    We've set aside <span class="recommendation">{{sleepSliderValue}} hours for sleep.</span>
                    <span ng-show="recommendedSleepHours">You can also adjust the slider manually to change your allotted sleep time</span>
                </span>
            </p>
            <form name="sleepForm" novalidate>
                <div class="sleep_input age"><label>Enter Your Age:</label><input name="ageInput" ng-model="ageModel" min="0" max="100" placeholder="00" ng-change="determineRecommendedSleepHoursForAge()" ng-required="true" type="number" /></div>
                <div class="sleep_input bedtime">
                    <label>Enter Your Bedtime?</label>
                    <input ng-model="bedTimeModel" ng-required="true" name="bedTimeInput" placeholder="HH:MM PM" ng-change="determineBedtime()" type="text" />
                    <span class="carets"><button class="fa fa-caret-up" ng-click="adjustBedTime('+')"></button><button class="fa fa-caret-down" ng-click="adjustBedTime('-')"></button></span>
                </div>
                <button class="tour-next-button" ng-click="configureSleep()">Click to Continue <span class="fa fa-caret-right"></span></button>
            </form>
        </div>
    </div>
</div>

<!--<button class="btn" style="position: absolute; z-index: 1000;" ng-click="redraw()">-->
<!--redraw-->
<!--</button>-->