@import "fonts";
@import "variables";

/**
 BaseStyle {
 }
**/

* {}

button {
  background: none;
  outline: none;
  border: none;
}

//manually import vendor styles and app styles here
@import "../../bower_components/font-awesome/scss/font-awesome";

@import "main/main.style";

@import "components/emoji-picker/emojipicker";
@import "components/slider/slider";

@import "main/taskitem.style";
@import "main/taskdetail.style";

