@import "fonts";
@import "variables";

//manually import vendor styles
@import "../../bower_components/font-awesome/scss/font-awesome";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../../bower_components/angular-material/angular-material.scss";

*{
  box-sizing: border-box;
}


html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

button, button:active {
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
}


.pie-btn-group-justified{

  .btn {
    border-color: $pie-light-grey;
    border-radius: 2px;
    background-color: #FBFBFB;
    color: $pie-dark-grey;

    &:not(:first-of-type){
      border-left: none;
    }

    &.active {
      background-color: $pie-dark-grey;
      box-shadow: inset 0 1px 9px rgba(0, 0, 0, 0.1);
    }
  }
}

//mannually import app styles
@import "main/main.style";
@import "main/linear_view/linearview";
@import "main/donut_view/donutview";

@import "components/TaskDetailPanel/layouts.showtasks";
@import "main/layouts.singleday";

@import "components/emoji-picker/emojipicker";
@import "components/slider/slider";

@import "components/TaskDonut/TaskDonut";
@import "components/TaskStrip/TaskStrip";

@import "components/TaskDetailPanel/taskitem.style";
@import "components/TaskDetailPanel/taskdetail.style";

@import "tour/splash/splash";
@import "tour/step_one/step_one";
@import "tour/step_two/step_two";
@import "tour/tour";
